* {
	font-family: 'Roboto', sans-serif;
}
body {
	position: relative;
	text-align: center;
	background: #E0FBFC;

}

.wrapper {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
} 

.center {
    margin-left: auto;
    margin-right: auto;
}


#mainSection {
    position: relative;
}

#buttonContainer {
	width: 100%;
	max-width: 385px;
	margin: 0 auto;
	display: flex;
}

.button {
	background: #3D5A80;
    flex: 1;
    padding: 5px;
	color: rgb(255, 255, 255);
	font-family: Arial, sans-serif;
	cursor: pointer; 
	border-radius: 10px;
	margin: 10px;
}

.button:hover {
	background-color: seagreen;
}
#statsContainer {
	width: 100%;
	max-width: 385px;
	margin: 0 auto;
	display: flex;
}

.push-right {
	margin-left: auto;
}
table.puzzleContainer {
	position: relative;
	border-spacing: 0;
	border: 4px solid #3D5A80;
	border-collapse: collapse;
	color: #0c2336;
    font-family: Arial, sans-serif;
	margin-top: 1em;
	display: none;
}

td.cell  {
	border: 2px solid #3D5A80;
	padding: 0;
	cursor: not-allowed;
	background-color: rgb(240, 241, 245);
}

td.emptyCell {
	border: 2px solid #3D5A80;
	padding: 0;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}

td:hover {
	background-color:#f2e5ee !important;
}

td.selected {
	background-color:#ffbce2 !important;
}

#r0-c2, #r0-c5, #r1-c2, #r1-c5, #r2-c5,
#r3-c2,#r3-c5, #r4-c2, #r4-c5, #r5-c2, #r5-c5,
#r6-c2, #r6-c5, #r7-c2, #r7-c5, #r8-c2, #r8-c5 {
	border-right: 3px solid #3D5A80;
}

#r2-c0, #r2-c1, #r2-c3, #r2-c4, #r2-c6, #r2-c7,
#r5-c0, #r5-c1, #r5-c3, #r5-c4, #r5-c6, #r5-c7 {
	border-bottom: 3px solid #3D5A80;
}

#r2-c2, #r2-c5, #r2-c8, #r5-c2, #r5-c5, #r5-c8 {
	border-bottom: 3px solid #3D5A80;
	border-right: 3px solid #3D5A80;
}

.puzzleContainer td {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 2.0em;
}

.td:hover {
	background-color:#f2e5ee;
}

.td.selected {
	background-color:#ffbce2;
}

